th{
    background-color: rgb(37, 18, 18);
    font-size: 40px;
    padding-left: 30px;
    font-family: cursive;
    color:rebeccapurple;
    text-decoration: underline;
}
img{
    width: 150Px;
    border-radius: 80px;
   
}
td{
    color: aliceblue;
    padding: 10px;
    background-color: rgb(37, 18, 18);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
  text-decoration: underline;
  font-family: cursive;

}
p{
    font-weight: bolder;
}
a{
    color: aliceblue;
}

@media only screen and (max-width: 400px ){

    th{
    
        font-size: 20px;
        padding-left: 10px;
        font-family: cursive;
        color:rebeccapurple;
        text-decoration: underline;
    }
         img{
        width: 100Px;
        border-radius: 80px;
       
    }
    td{
        font-size: 10px;
        padding: 1px;
}
    
}
@media only screen and (max-width: 600px ){

    th{
    
        font-size: 20px;
        padding-left: 10px;
        font-family: cursive;
        color:rebeccapurple;
        text-decoration: underline;
    }
         img{
        width: 100Px;
        border-radius: 80px;
       
    }
    td{
        font-size: 10px;
        padding: 1px;
}
    
}