@font-face {
    font-family: "Urdu";
    src: url(./font/Gandhara\ Suls\ Regular.ttf);
}
marquee{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
   
    margin-top: ;
    
   
}

marquee:hover{

    color: red;
}
marquee::first-letter{

    font-size: 100px;
    color: red;
}
/* h1{
    text-align: center;
    text-shadow: 1px 1px 0px red;
} */

body{
    background-image: url(./birth-3.avif);
    background-size: cover;

}
img{
    border-radius: 25px;
    margin: 50px;
}

@media only screen and (max-width: 400px){
    body{
       background-size: 100%;
       height: 100vh;    
    }
    marquee{
        font-size: 20px;
        font-weight: bolder;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
     
       
    }

}
@media only screen and (max-width: 500px){
    body{
       background-size: 100%;
       height: 200vh;
    }
       marquee{
        font-size: 20px;
        font-weight: bolder;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
     
       
    }
    img{
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 100px;
    }
    h1{
        text-align: left;
       
    }
       
    

}